{{define "editor"}}

<form style="display: flex; flex-direction: column; flex: 1">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div style="display: flex; align-items: center">
      <h4 style="margin: 0">{{.Name}}</h4>
      <div
        id="status"
        class="flex items-center justify-center"
      >
        {{ template "status" . }}
      </div>
      <button id="validate" class="outline btn-sm" style="margin: 8px">
        Validate
      </button>
      <button id="save" class="outline btn-sm" style="margin: 8px;color: green">Save</button>
      <button
        class="outline btn-sm"
        style="margin: 8px; color: red"
        hx-post="/remove/{{.Name}}"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-confirm="Are you sure?"
      >
        Remove
      </button>
    </div>

    <button
      class="outline btn-sm"
      hx-get="/add-config-modal"
      hx-target="body"
      hx-swap="beforeend"
    >
      +Add
    </button>
  </div>
  <div class="monaco" style="flex: 1"></div>
</form>

<script type="module">
  // import * as monaco from 'https://cdn.jsdelivr.net/npm/monaco-editor@0.39.0/+esm';
  import * as monaco from "/js/monaco-editor.js";
  import {
    tokenConf,
    themeConfig,
    themeDarkConfig,
  } from "/js/monaco-nginx-plugin.js";

  monaco.languages.register({ id: "nginx" });
  monaco.languages.setLanguageConfiguration("nginx", {
    autoClosingPairs: [
      { open: "{", close: "}" },
      { open: '"', close: '"' },
    ],
  });
  monaco.languages.setMonarchTokensProvider("nginx", tokenConf);
  monaco.editor.defineTheme("nginx-theme", themeConfig);
  monaco.editor.defineTheme("nginx-theme-dark", themeDarkConfig);

  const value = "{{.Content}}";

  const editor = monaco.editor.create(document.querySelector(".monaco"), {
    value: [value].join("\n"),
    theme: "nginx-theme",
    language: "nginx",
    minimap: {
      enabled: false,
    },
    scrollBeyondLastLine: false,
  });
  editor.onDidChangeModelContent(() => {
    const isChanged = editor.getValue() !== value;
    if (isChanged) {
      document.getElementById("status").innerText = "*";
    } else {
      document.getElementById("status").innerText = "";
    }
  });
  document.querySelector("#validate").addEventListener("click", async (e) => {
    e.preventDefault();
    htmx.ajax("POST", "/validate/{{.Name}}", {
      target: "#status",
      swap: "innerHTML",
      values: { content: editor.getValue() },
    });
  });
  document.querySelector("#save").addEventListener("click", async (e) => {
    e.preventDefault();
    htmx.ajax("POST", "/save/{{.Name}}", {
      target: "#status",
      swap: "innerHTML",
      values: { content: editor.getValue() },
    });
  });
</script>

{{end}}
