{{define "login"}}
<div class="container-fluid h-100 flex justify-center items-center">
  <article>
    <p>NGINX ui</p>
    <form hx-post="/login" hx-target="body" hx-swap="innerHTML">
      <fieldset>
        <label>
          Email
          <input
            id="email"
            name="email"
            placeholder="email"
            autocomplete="email"
          />
        </label>
        <label>
          Password
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
          />
        </label>
      </fieldset>
      <p id="error" style="color: red">{{ .Error }}</p>
      <button type="submit">Sign In</button>
    </form>
  </article>
</div>
{{end}}
