{{define "sideNav"}}
<aside style="width: 340px;border-right: 0.5px solid gray;">
  <nav>
    <ul>
      <li>
        <button
          class="link-btn"
          hx-get="/"
          hx-target="body"
          hx-swap="innerHTML"
        >
          Dashboard
        </button>
      </li>
      <li>
        <button
          class="link-btn"
          hx-get="/edit/main"
          hx-target="#content"
          hx-swap="innerHTML"
        >
          Main Config
        </button>
      </li>
      <div
        id="configs"
        hx-get="/configs"
        hx-target="#configs"
        hx-swap="innerHTML"
        hx-trigger="refreshConfigs from:body"
      >
        {{template "configs" .}}
      </div>
    </ul>
  </nav>
</aside>
{{end}}
