{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGINX ui</title>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/hyperscript.min.js"></script>
    <link rel="stylesheet" href="static/css/pico.zinc.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/modal.css">
    <link rel="stylesheet" href="static/css/spinner.css">
</head>
<body hx-target="body" hx-swap="innerHTML" class="root">
    {{if .IsAuth}}
        {{template "main" .}}
    {{else}}
        {{template "login" .}}
    {{end}}
</body>
</html>
{{end}}